<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock %}</title>
</head>
<body>
<!-- style -->
<style>
    
</style>


    <!-- Navigation -->


<style>
        
       
</style>



<!-- Nav Bar-->
<nav>


</nav>

<!-- Side Bar -->

{% block sidebar %}


{% endblock %}
   
<!-- Blog Content -->
    {%block body %}
    <!--- Content Here --->
    {% endblock %}

    <!-- Footer Content -->

    <footer class="py-3 bg-grey">
        <!-- footer items-->
        <p class="m-0 text-dark text-center ">Copyright &copy; <a href="http://MatthewSmithWebDesign.com">Matthew Smith</p></a>
    </footer>
</body>
</html>